pkgbase = clarp-desktop
	pkgdesc = Native Qt desktop client for Clarp agents
	pkgver = 0.6.7
	pkgrel = 1
	url = https://github.com/Maxteabag/clarp
	arch = x86_64
	arch = aarch64
	license = custom:PolyForm-Shield-1.0.0
	makedepends = cmake
	makedepends = ninja
	depends = glibc
	depends = gcc-libs
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-multimedia-ffmpeg
	depends = qt6-svg
	depends = qt6-wayland
	source = clarp-desktop-0.6.7.tar.gz::https://github.com/Maxteabag/clarp/archive/refs/tags/v0.6.7.tar.gz
	sha256sums = SKIP

pkgname = clarp-desktop
