Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-enum-class,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -portability-avoid-pragma-once,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-static-accessed-through-instance
WarningsAsErrors: ''
HeaderFilterRegex: 'desktop/src/.*'
