Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-enum-class,
  -modernize-raw-string-literal,
  -modernize-use-auto,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -portability-avoid-pragma-once,
  -readability-convert-member-functions-to-static,
  -readability-braces-around-statements,
  -readability-avoid-nested-conditional-operator,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-static-accessed-through-instance
WarningsAsErrors: ''
HeaderFilterRegex: 'desktop/src/.*'
